
.vs/CoffeeOrderApp/config/applicationhost.config
.vs/CoffeeOrderApp/FileContentIndex/d2ad8bdf-3ab2-41a9-9ead-152560f3d628.vsidx
.vs/CoffeeOrderApp/FileContentIndex/ef83f63f-0d0e-4190-8f62-0d8706050b4d.vsidx
.vs/CoffeeOrderApp/v17/.suo
CoffeeOrderApp/bin/Debug/*
CoffeeOrderApp/obj/*
.vs/ProjectEvaluation/coffeeorderapp.metadata.v5.2
CoffeeOrderApp/obj/project.nuget.cache
CoffeeOrderApp/obj/project.assets.json
CoffeeOrderApp/obj/Debug/netcoreapp3.1/CoffeeOrderApp.csproj.AssemblyReference.cache
CoffeeOrderApp/obj/Debug/netcoreapp3.1/CoffeeOrderApp.assets.cache
.vs/ProjectEvaluation/coffeeorderapp.projects.v5.2
.vs/CoffeeOrderApp/v17/.suo
.vs/CoffeeOrderApp/v17/.futdcache.v2
CoffeeOrderApp/obj/project.nuget.cache
CoffeeOrderApp/obj/project.assets.json
CoffeeOrderApp/obj/Debug/netcoreapp3.1/CoffeeOrderApp.csproj.AssemblyReference.cache
CoffeeOrderApp/obj/Debug/netcoreapp3.1/CoffeeOrderApp.assets.cache
.vs/CoffeeOrderApp/v17/.suo
